#Tutto il repo — fallback
*                     @jsage67workOrg/Team-global
/solution_1/           @jsage67workOrg/Team1
/solution_2/           @jsage67workOrg/Team2
/solution_3/           @jsage67workOrg/Team3
/solution_4/           @jsage67workOrg/Team1 @jsage67workOrg/Team2
