#Tutto il repo — fallback
*                     @jsage67work/team-global
/solution_1/           @jsage67work/team-1
/solution_2/           @jsage67work/team-2
/solution_3/           @jsage67work/team-3
/solution_4/           @jsage67work/team-1 @jsage67work/team-2
